<section id="content">
        <h1 class="main-header-title">Создание категории расходов</h1>

        <section class="form-creat">
            <figure class="form-creat-input">
                <input type="text" class="d-block input" id="creatExpenses" placeholder="Название...">
                <label for="creatExpenses"></label>
            </figure>
            <figure class="form-creat-button">
                <button type="button" class="btn btn-success ">Создать</button>
                <button type="button" class="btn btn-danger m-0">Отмена</button>
            </figure>
        </section>
</section>
