<section id="content">
        <h1 class="main-header-title">Редактирование категории расходов</h1>
        <section class="form-creat">
            <figure class="form-creat-input">
                <input type="text" class="d-block input" id="editExpenses" placeholder="Название...">
                <label for="editExpenses"></label>
            </figure>
            <figure class="form-creat-button">
                <button type="button" id="btn-save-expenses" class="btn btn-success ">Сохранить</button>
                <button type="button" id="btn-cancel-expenses"  class="btn btn-danger m-0">Отмена</button>
            </figure>
        </section>
</section>
