<section id="content">
        <h1 class="main-header-title">Редактирование дохода/расхода</h1>
        <form class="form-creat-income" id="income-expense-form">
            <figure class="form-creat-input">
                <label for="type"></label>
                <select id="type" class="input">
                    <option>Название...</option>
                    <option value="income">Доход</option>
                    <option value="expense">Расход</option>
                </select>
            </figure>
            <figure class="form-creat-input">
                <label for="category"></label>
                <select id="category" class="input"></select>
            </figure>
            <figure class="form-creat-input">
                <input type="number" class="input d-block" id="sum" placeholder="Сумма в $...">
                <label for="sum"></label>
            </figure>
            <figure class="form-creat-input">
                <input type="text" class="input d-block" id="date" placeholder="Дата...">
                <label for="date"></label>
            </figure>
            <figure class="form-creat-input">
                <input type="text" class="input d-block" id="comment" placeholder="Комментарий...">
                <label for="comment"></label>
            </figure>
            <figure class="form-creat-button">
                <button type="button" class="btn btn-success" id="submit-button">Изменить</button>
                <button type="button" class="btn btn-danger m-0" id="cancel-button">Отмена</button>
            </figure>
        </section>
</section>
