<section id="content">
        <h1 class="main-header-title">Редактирование дохода/расхода</h1>
        <section class="form-creat-income ">
            <figure class="form-creat-input">
                <input type="text" class="input d-block" id="creatName" placeholder="Название...">
                <label for="creatName"></label>
            </figure>
            <figure class="form-creat-input">
                <input type="text" class="input d-block" id="creatCategory" placeholder="Категория...">
                <label for="creatCategory"></label>
            </figure>
            <figure class="form-creat-input">
                <input type="text" class="input d-block" id="creatSum" placeholder="Сумма в $...">
                <label for="creatSum"></label>
            </figure>
            <figure class="form-creat-input">
                <input type="text" class="input d-block" id="creatDate" placeholder="Дата...">
                <label for="creatDate"></label>
            </figure>
            <figure class="form-creat-input">
                <input type="text" class="input d-block" id="creatComment" placeholder="Комментарий...">
                <label for="creatComment"></label>
            </figure>
            <figure class="form-creat-button">
                <button type="button" class="btn btn-success ">Создать</button>
                <button type="button" class="btn btn-danger m-0">Отмена</button>
            </figure>
        </section>
</section>
