<section id="content">
        <h1 class="main-header-title">Доходы</h1>
        <section class="album">
            <div class="container p-0">
                <div id="block" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 ">
                    <!-- <div  class="col">
                        <div class="card">
                            <div class="card-body">
                                <h2 id="card-text" class="card-text">Депозиты</h2>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" id="btn-edit" class="btn btn-sm btn-primary btn-edit">Редактировать
                                        </button>
                                        <button type="button"  class="btn btn-sm btn-danger btn-delete">Удалить</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-text">Зарплата</h2>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-primary  btn-edit">Редактировать
                                        </button>
                                        <button type="button" class="btn btn-sm btn-danger btn-delete">Удалить</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col" >
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-text">Сбережения</h2>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-primary btn-edit">Редактировать
                                        </button>
                                        <button type="button" class="btn btn-sm btn-danger btn-delete">Удалить</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-text">Инвестиции</h2>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-primary btn-edit">Редактировать
                                        </button>
                                        <button type="button" class="btn btn-sm btn-danger btn-delete ">Удалить</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="col">
                        <div class="card">
                            <div class="card-body card-add">
                                <button type="button" id="add-btn">
                                    <img src="images/plus.png" alt="Plus">
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section id="modal" class="modal fade show"  tabindex="-1" aria-labelledby="exampleModalCenterTitle"
             aria-modal="true" role="dialog" >
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content d-flex align-items-center">
                    <div class="modal-body p-0">
                        <p>Вы действительно хотите удалить категорию? Связанные доходы будут удалены навсегда.</p>
                    </div>
                    <div class="modal-footer p-0">
                        <button type="button" id="btn-y-delete" class="btn btn-success " data-bs-dismiss="modal">Да, удалить</button>
                        <button type="button" id="btn-no-delete" class="btn btn-danger m-0">Не удалять</button>
                    </div>
                </div>
            </div>
        </section>
</section>
