<section id="content">
        <h1 class="main-header-title">Доходы и расходы</h1>
        <section class="button-group">
            <button type="button" id="create-income" class="btn btn-success btn-iex" data-bs-dismiss="modal">Создать доход</button>
            <button type="button" id="create-expense" class="btn btn-danger btn-iex ">Создать расход</button>
        </section>
        <nav class="income-expenses-nav d-flex flex-wrap align-items-center ">
            <ul class="main-menu nav nav-pills">
                <li class="nav-item">
                    <button class="active btn btn-tr" id="today">Сегодня</button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-tr" id="week">Неделя</button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-tr" id="month">Месяц</button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-tr" id="year">Год</button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-tr" id="all">Все</button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-tr" id="interval">Интервал</button>
                </li>
                <span class="d-flex">
                    <li class="nav-item nav-link header-interval">c</li>
                    <li class="nav-item"><a href="#" class="header-date nav-link">Дата</a></li>
                    <input type="date" class="border-0 d-none date-input" id="dateFrom">
                </span>
                <span class="d-flex">
                    <li class="nav-item nav-link header-interval">по</li>
                    <li class="nav-item"><a href="#" class="header-date nav-link">Дата</a></li>
                    <input type="date" class="border-0 d-none date-input" id="dateTo">
                </span>
               
               
            </ul>
        </nav>
        <section class="table-responsive">
            <table class="table caption-top table-hover">
                <thead>
                <tr>
                    <th scope="col">№ операции</th>
                    <th scope="col">Тип</th>
                    <th scope="col">Категория</th>
                    <th scope="col">Сумма</th>
                    <th scope="col">Дата</th>
                    <th scope="col">Комментарий</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody id="operations-tbody">
        
                </tbody>

            </table>
        </section>
        <section class="modal fade show" id="modal" tabindex="-1" aria-labelledby="exampleModalCenterTitle"
                 aria-modal="true" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content d-flex align-items-center">
                    <div class="modal-body p-0">
                        <p>Вы действительно хотите удалить операцию?</p>
                    </div>
                    <div class="modal-footer p-0">
                        <button type="button" id="delete" class="btn btn-success " data-bs-dismiss="modal">Да, удалить</button>
                        <button type="button" id="cancel" class="btn btn-danger m-0">Не удалять</button>
                    </div>
                </div>
            </div>
        </section>
</section>


<!-- <div id="operations-container"></div>

<button id="add-operation-btn" class="btn btn-success">Добавить операцию</button> -->

