<section id="content">
    <main class="form-signup text-center">
        <img class="logo" src="../images/Logo.png" alt="Logo">
        <h1 class="h3 fw-normal">Вход</h1>
        <form>
            <figure class="input-group flex-nowrap has-validation">
            <span class="input-group-text" id="addon-wrapping">
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.6885 4.3176L7.3885 0.1176C7.1533 -0.0392 6.8474 -0.0392 6.6122 0.1176L0.3122 4.3176C0.1169 4.4478 0 4.6662 0 4.9V12.6C0 13.3721 0.6279 14 1.4 14H12.6C13.3721 14 14 13.3721 14 12.6V4.9C14 4.6662 13.8831 4.4478 13.6885 4.3176ZM7 1.5414L12.0379 4.9L7 8.2586L1.9621 4.9L7 1.5414ZM1.4 12.6V6.2083L6.6115 9.6824C6.7291 9.7608 6.8649 9.8 7 9.8C7.1351 9.8 7.2709 9.7608 7.3885 9.6824L12.6 6.2083L12.5979 12.6H1.4Z" fill="#6C757D"/>
                </svg>
            </span>
                <input type="email" id="email" class="form-control" placeholder="Электронная почта" aria-label="email" aria-describedby="addon-wrapping">
                <div class="invalid-tooltip">
                    Введите корректный email
                </div>
            </figure>
            <figure class="input-group flex-nowrap has-validation">
            <span class="input-group-text" id="wrapping">
                <svg width="13" height="16" viewBox="0 0 13 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6.4 0C4.1944 0 2.4 1.7944 2.4 4V6.4H1.6C0.7176 6.4 0 7.1176 0 8V14.4C0 15.2824 0.7176 16 1.6 16H11.2C12.0824 16 12.8 15.2824 12.8 14.4V8C12.8 7.1176 12.0824 6.4 11.2 6.4H10.4V4C10.4 1.7944 8.6056 0 6.4 0ZM11.2 8L11.2016 14.4H1.6V8H11.2ZM4 6.4V4C4 2.6768 5.0768 1.6 6.4 1.6C7.7232 1.6 8.8 2.6768 8.8 4V6.4H4Z" fill="#6C757D"/>
                </svg>
            </span>
                <input type="password" id="password" class="form-control " placeholder="Пароль" aria-label="password" aria-describedby="wrapping">
                <div class="invalid-tooltip">
                    Введите верный пароль
                </div>
            </figure>
            <figure class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me" id="remember"> Запомнить меня
                </label>
            </figure>
            <button type="button" class="w-100 btn btn-lg btn-primary" type="submit" id="process" disabled>Войти</button>
            <section class="link">Ещё нет аккаунта? <a href="/#/signup" class="go-to-signup"> Пройдите регистрацию</a></section>
        </form>
    </main>
<!--    </body>-->
</section>

